{% extends "layout.html" %}


{% block navigation %}

<!-- navbar -->

<nav class="navbar navbar-expand-lg fixed-top ">
  <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-4">

      <li class="nav-item">
        <a class="nav-link" data-value="about" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-value="portfolio" href="#">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-value="blog" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-value="team" href="#">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-value="contact" href="#">Contact</a>
      </li>
    </ul>

  </div>
</nav>


{% endblock %}


<!-- header -->
{% block header %}

<!-- header -->
<header class="header ">
	<div class="">
		<img src="{{url_for( 'static', filename='images/headerback.jpg')}}" class="img-fluid">
	</div>

  <div class="overlay"></div>
   <div class="container">
   	  <div class="description ">
  	<h1>
  		Welcome To My Website
  		<p>
  		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  		<button class="btn btn-outline-secondary btn-lg">See more</button>
  	</h1>
  </div>
   </div>

</header>

{% endblock %}


<!-- about section -->
{% block about %}


<!-- about section -->
<div class="about" id="about">
	<div class="container">
	  <h1 class="text-center">About Me</h1>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12">
				<img src="{{url_for( 'static', filename='images/team-3.jpg')}}" class="img-fluid">
				<span class="text-justify">Electrical Engineer</span>
			</div>
			<div class="col-lg-8 col-md-8 col-sm-12 desc">

				<h3>Mapopa</h3>
				<h6>
				   ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</h6>
				<button class="btn btn-outline-secondary"> <a href="{{ url_for('about')}}"> See more</a> </button>
			</div>
		</div>
	</div>
</div>



{% endblock %}


<!-- portfolio -->
{% block portfolio %}


<!-- portfolio -->
<div class="portfolio" id="portfolio">
		 <h1 class="text-center"> <a href="{{ url_for('portfolio') }}">Portfolio</a> </h1>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-12">
				<img src="{{url_for( 'static', filename='images/portfolio/python.png')}}" class="img-fluid">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-12">
				<img src="{{url_for( 'static', filename='images/portfolio/numpy.png')}}" class="img-fluid">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-12">
				<img src="{{url_for( 'static', filename='images/portfolio/matplotlib.png')}}" class="img-fluid">
			</div>

			<div class="col-lg-3 col-md-4 col-sm-12">
				<img src="{{url_for( 'static', filename='images/portfolio/pandas.png')}}" class="img-fluid">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-12">
				<img src="{{url_for( 'static', filename='images/portfolio/sklearn.png')}}" class="img-fluid">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-12">
				<img src="{{url_for( 'static', filename='images/portfolio/keras.png')}}" class="img-fluid">
			</div>

			<div class="col-lg-3 col-md-4 col-sm-12">
				<img src="{{url_for( 'static', filename='images/portfolio/tensorflow.png')}}" class="img-fluid">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-12">
				<img src="{{url_for( 'static', filename='images/portfolio/openai.png')}}" class="img-fluid">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-12">
				<img src="{{url_for( 'static', filename='images/portfolio/arduino.png')}}" class="img-fluid">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-12">
				<img src="{{url_for( 'static', filename='images/portfolio/pi.png')}}" class="img-fluid">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-12">
				<img src="{{url_for( 'static', filename='images/portfolio/flask.png')}}" class="img-fluid">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-12">
				<img src="{{url_for( 'static', filename='images/portfolio/django.png')}}" class="img-fluid">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-12">
				<img src="{{url_for( 'static', filename='images/portfolio/html.png')}}" class="img-fluid">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-12">
				<img src="{{url_for( 'static', filename='images/portfolio/css.png')}}" class="img-fluid">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-12">
				<img src="{{url_for( 'static', filename='images/portfolio/java.png')}}" class="img-fluid">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-12">
				<img src="{{url_for( 'static', filename='images/portfolio/bootstrap.png')}}" class="img-fluid">
			</div>

		</div>
	</div>
</div>

{% endblock %}


<!-- Posts section -->
{% block blog %}


<!-- Posts section -->
<div class="blog" id="blog">
	<div class="container">
	<h1 class="text-center"> <a href="{{ url_for('blog')}}">Blog</a> </h1>
		<div class="row">
			<div class="col-md-4 col-lg-4 col-sm-12">
				<div class="card">
					<div class="card-img">
						<img src="{{url_for( 'static', filename='images/posts/polit.jpg')}}" class="img-fluid">
					</div>

					<div class="card-body">
					<h4 class="card-title">Post Title</h4>
						<p class="card-text">

							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
					<div class="card-footer">
						<a href="" class="card-link">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-12">
				<div class="card">
					<div class="card-img">
						<img src="{{url_for( 'static', filename='images/posts/images.jpg')}}" class="img-fluid">
					</div>

					<div class="card-body">
						 <h4 class="card-title">Post Title</h4>
						<p class="card-text">

							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
					<div class="card-footer">
						<a href="" class="card-link">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-12">
				<div class="card">
					<div class="card-img">
						<img src="{{url_for( 'static', filename='images/posts/imag2.jpg')}}" class="img-fluid">
					</div>

					<div class="card-body">
					<h4 class="card-title">Post Title</h4>
						<p class="card-text">

							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
					<div class="card-footer">
						<a href="" class="card-link">Read more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}


<!-- Team section -->
{% block team %}


<!-- Team section -->
<div class="team" id="team">
	<div class="container">
		 <h1 class="text-center"> <a href="{{ url_for('team') }}">Our Team</a> </h1>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12 item">
				<img src="{{url_for( 'static', filename='images/mapo.jpeg')}}" class="img-fluid" alt="team">
				<div class="des">
					Sara
				 </div>
				<span class="text-muted">Manager</span>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 item">
				<img src="{{url_for( 'static', filename='images/mapo.jpeg')}}" class="img-fluid" alt="team">
				<div class="des">
					 Chris
				 </div>
				<span class="text-muted">S.enginner</span>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 item">
				<img src="{{url_for( 'static', filename='images/mapo.jpeg')}}" class="img-fluid" alt="team">
				<div class="des">
					Layla
				 </div>
				<span class="text-muted">Front End Developer</span>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 item">
				<img src="{{url_for( 'static', filename='images/mapo.jpeg')}}" class="img-fluid" alt="team">
				 <div class="des">
					J.Jirard
				 </div>
				<span class="text-muted">Team Manger</span>
			</div>
		</div>
	</div>
</div>


{% endblock %}
<!-- Contact form -->
{% block contact %}

<!-- Contact form -->
<div class="contact-form" id="contact">
	<div class="container">
		<form>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12">
					<h1> <a href="{{ url_for('contact') }}">Get in Touch</a> </h1>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-12 right">
					 <div class="form-group">
						 <input type="text" class="form-control form-control-lg" placeholder="Your Name" name="">
					 </div>
					 <div class="form-group">
						 <input type="email" class="form-control form-control-lg" placeholder="YourEmail@email.com" name="email">
					 </div>
					 <div class="form-group">
						 <textarea class="form-control form-control-lg">

						 </textarea>
					 </div>
					 <input type="submit" class="btn btn-secondary btn-block" value="Send" name="">
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}
