{% extends "layout.html" %}


{% block portfolio %}

<!-- portfolio -->
<div class="portfolio" id="portfolio">
     <h1 class="text-center">Tools I Use</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-12">
        <img src="{{url_for( 'static', filename='images/portfolio/python.png')}}" class="img-fluid">
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <img src="{{url_for( 'static', filename='images/portfolio/numpy.png')}}" class="img-fluid">
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <img src="{{url_for( 'static', filename='images/portfolio/matplotlib.png')}}" class="img-fluid">
      </div>

      <div class="col-lg-3 col-md-4 col-sm-12">
        <img src="{{url_for( 'static', filename='images/portfolio/pandas.png')}}" class="img-fluid">
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <img src="{{url_for( 'static', filename='images/portfolio/sklearn.png')}}" class="img-fluid">
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <img src="{{url_for( 'static', filename='images/portfolio/keras.png')}}" class="img-fluid">
      </div>

      <div class="col-lg-3 col-md-4 col-sm-12">
        <img src="{{url_for( 'static', filename='images/portfolio/tensorflow.png')}}" class="img-fluid">
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <img src="{{url_for( 'static', filename='images/portfolio/openai.png')}}" class="img-fluid">
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <img src="{{url_for( 'static', filename='images/portfolio/arduino.png')}}" class="img-fluid">
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <img src="{{url_for( 'static', filename='images/portfolio/pi.png')}}" class="img-fluid">
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <img src="{{url_for( 'static', filename='images/portfolio/flask.png')}}" class="img-fluid">
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <img src="{{url_for( 'static', filename='images/portfolio/django.png')}}" class="img-fluid">
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <img src="{{url_for( 'static', filename='images/portfolio/html.png')}}" class="img-fluid">
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <img src="{{url_for( 'static', filename='images/portfolio/css.png')}}" class="img-fluid">
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <img src="{{url_for( 'static', filename='images/portfolio/java.png')}}" class="img-fluid">
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <img src="{{url_for( 'static', filename='images/portfolio/bootstrap.png')}}" class="img-fluid">
      </div>

    </div>
  </div>
</div>

{% endblock %}
