{% extends "layout.html" %}


{% block team %}


<!-- Team section -->
<div class="team" id="team">
  <div class="container">
     <h1 class="text-center">Our Team</h1>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 item">
        <img src="{{url_for( 'static', filename='images/mapo.jpeg')}}" class="img-fluid" alt="team">
        <div class="des">
          Sara
         </div>
        <span class="text-muted">Manager</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 item">
        <img src="{{url_for( 'static', filename='images/mapo.jpeg')}}" class="img-fluid" alt="team">
        <div class="des">
           Chris
         </div>
        <span class="text-muted">S.enginner</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 item">
        <img src="{{url_for( 'static', filename='images/mapo.jpeg')}}" class="img-fluid" alt="team">
        <div class="des">
          Layla
         </div>
        <span class="text-muted">Front End Developer</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 item">
        <img src="{{url_for( 'static', filename='images/mapo.jpeg')}}" class="img-fluid" alt="team">
         <div class="des">
          J.Jirard
         </div>
        <span class="text-muted">Team Manger</span>
      </div>
    </div>
  </div>
</div>



{% endblock %}
